<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pieprasījuma veidne</title>
</head>

<body>
    <button onclick="window.location.href='/'">Galvenā lapa</button>
    <form id="request" method="post" action="/new-request" enctype="multipart/form-data">
        <label for="reqName">Vārds:</label><br>
        <input id="reqName" type="text" name="reqName" maxlength="40" required><br>

        <label for="reqSurname">Uzvārds:</label><br>
        <input id="reqSurname" type="text" name="reqSurname" maxlength="40" required><br>

        <label for="reqEmail">E-pasts:</label><br>
        <input id="reqEmail" type="text" name="reqEmail" maxlength="40" required><br>

        <label for="reqPhone">Telefona numurs:</label><br>
        <input id="reqPhone" type="text" name="reqPhone" maxlength="8" required><br>

        <!-- izmantojot Handlebars tiek ievietoti dati formā -->
        <label for="types">Tips</label>
        <select id="types" onchange="updateSelectedItem(false)">
            <option value="" disabled selected hidden>Izvēlies</option>
            {{#each itemTypes}}
            <option value="{{@id}}">{{@type}}</option>
            {{/each}}
        </select>

        <label for="makers">Ražotājs</label>
        <select id="makers" onchange="updateSelectedItem(true)">
            <option value="" disabled selected hidden>Izvēlies</option>
            {{#each makers}}
            <option value="{{@id}}">{{@maker}}</option>
            {{/each}}
        </select>

        <label for="items">Modelis</label>
        <select id="items" name="item">
            <option value="" disabled selected hidden>Izvēlies</option>
            {{#each items}}
            <option value="{{@id}},{{@typeId}},{{makerId}}" style="display:none">{{@model}}</option>
            {{/each}}
        </select><br>

        <label for="explanation">Pamatojums</label><br>
        <textarea id="explanation" name="explanation" rows="4" cols="50" maxlength="400" required style="resize: none;"></textarea><br>

        <input type="submit" name="Veidot Pieprasījumu">
    </form>
</body>

</html>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightgray;
    }
</style>

<script>
    function updateSelectedItem(isMaker) {
        // atrodam svarīgos dokumenta elementus
        const items = document.getElementById("items")
        const makers = document.getElementById("makers")
        const types = document.getElementById("types")
        const selectedType = parseInt(types.value)
        const selectedMaker = parseInt(makers.value)
        items.value = ''
        if (!isMaker) makers.value = ''

        // atsvaidzinam lietu sarakstu
        for (const item of items.options) {
            if (item.value === '') continue
            const [itemId, typeId, makerId] = item.value.split(",")
            if (parseInt(typeId) === selectedType && parseInt(makerId) === selectedMaker) {
                item.style.display = 'block'
            } else {
                item.style.display = 'none'
            }
        }

        // atsvaidzinam ražotāju sarakstu
        for (const maker of makers.options) {
            if (maker.value === '') continue
            for (const item of items.options) {
                if (item.value === '') continue
                const [itemId, typeId, makerId] = item.value.split(",")
                if (parseInt(typeId) === selectedType && parseInt(makerId) === parseInt(maker.value)) {
                    maker.style.display = 'block'
                    break
                } else {
                    maker.style.display = 'none'
                }
            }
        }
    }
</script>