<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pieprasījumi</title>
</head>

<body>
    <button onclick="window.location.href='/'">Galvenā lapa</button>
    <table>
        <tr>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>E-pasts</th>
            <th>Telefona numurs</th>
            <th>Tehnika</th>
            <th>Pamatojums</th>
            <th>Datums</th>
            <th>Izdzēst</th>
        </tr>
        <!-- izmantojot Handlebars tiek ievietoti dati tabulā -->
        {{#each requests}}
        <tr>
            <td>{{@name}}</td>
            <td>{{@surname}}</td>
            <td>{{@email}}</td>
            <td>{{@phone}}</td>
            <td>{{#itemsLookup items @itemId}}{{this}}{{/itemsLookup}}</td>
            <td>{{@explanation}}</td>
            <td>{{@date}}</td>
            <td>
                <form action="/delete" method="POST">
                    <input type="hidden" name="id" value="{{@id}}">
                    <input type="submit" value="Dzēst">
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</body>

</html>

<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        background-color: azure;
        border-collapse: collapse;
    }
    th, tr, td {
        border: 1px solid black;
        padding: 4px;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightgray;
    }
</style>